h1 {
    text-align: center;
}

.calculator-container {
    display: flex;
    justify-content: center;
}

.calculator {
    margin-top: 150px;
    background-color: slategrey;
}

.display {
    background-color: lightblue;
    border: 3px solid;
    height: 100px;
    width: auto;
    margin-bottom: 10px;
}

.calculator-display {

}

.calculator .all-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 4px solid black;
    background-color: darkslategrey;
}

.calculator .all-buttons button {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: yellow;
    background-color: coral;
    font-size: xx-large;
}
